#words{
    background-color:white;
}

body{
    background-color: chocolate;

}
h1{
    color: white;
    text-align: center;
}
label{
    color: white;
    text-align: center;

}
p{
    color: white;
    text-align: center;

}
#wordForm{
    background-color: chocolate;

}

#btn{
    margin-inline: auto;
}
span{
    background-color: green;
}

