#words{
    background-color:white;
}

body{
    background-color: chocolate;

}
h1{
    color: white;
}
label{
    color: white;
}
p{
    color: white;
}
#wordForm{
    background-color: chocolate;

}

#btn{
    margin: 0 auto;
}
span{
    background-color: green;
}

